/*Normal*/
@font-face {
 font-family : THSarabunPSK ;
 src : url("THSarabun.ttf") ;
}

/*Bold*/
@font-face {
 font-family : THSarabunPSK-Bold ;
 src : url("THSarabun Bold.ttf") ; 
}

/*Italic*/
@font-face {
 font-family : THSarabunPSK-Italic ;
 src : url("THSarabun Italic.ttf") ;
}

/*Bold Italic*/
@font-face {
 font-family : THSarabunPSK-BoldItalic ;
 src : url("THSarabun Bold Italic.ttf") ;  
}
