/*Normal*/
@fontface {
 font-family : THSarabunNew ;
 src : url("https://boszgtec.github.io/F-Font/ฟอนต์ฟรีมาตรฐาน(SIPA)/THSarabunNew/THSarabunNew.ttf") ;
}

/*Bold*/
@fontface {
 font-family : THSarabunNew-Bold ;
 src : url("https://boszgtec.github.io/F-Font/ฟอนต์ฟรีมาตรฐาน(SIPA)/THSarabunNew/THSarabunNew%20Bold.ttf") ;
}

/*Italic*/
@fontface {
 font-family : THSarabunNew-Italic ;
 src : url("https://boszgtec.github.io/F-Font/ฟอนต์ฟรีมาตรฐาน(SIPA)/THSarabunNew/THSarabunNew%20Italic.ttf") ;
}

/*Bold Italic*/
@fontface {
 font-family : THSarabunNew-BoldItalic ;
 src : url("https://boszgtec.github.io/F-Font/ฟอนต์ฟรีมาตรฐาน(SIPA)/THSarabunNew/THSarabunNew%20BoldItalic.ttf") ;
}
