/*Normal*/
@font-face {
 font-family : THSarabunNew ;
 src : url("THSarabunNew.ttf") ;
}

/*Bold*/
@font-face {
 font-family : THSarabunNew-Bold ;
 src : url("THSarabunNew Bold.ttf") ; 
}

/*Italic*/
@font-face {
 font-family : THSarabunNew-Italic ;
 src : url("THSarabunNew Italic.ttf") ;
}

/*Bold Italic*/
@font-face {
 font-family : THSarabunNew-BoldItalic ;
 src : url("THSarabunNew BoldItalic.ttf") ;  
}

