/*Normal*/
@fontface {
 font-family : THSarabunNew ;
 src : url("THSarabunNew.ttf") ;
}

/*Bold*/
@fontface {
 font-family : THSarabunNew-Bold ;
 src : url("THSarabunNew Bold.ttf") ;
}

/*Italic*/
@fontface {
 font-family : THSarabunNew-Italic ;
 src : url("THSarabunNew Italic.ttf") ;
}

/*Bold Italic*/
@fontface {
 font-family : THSarabunNew-BoldItalic ;
 src : url("THSarabunNew BoldItalic.ttf") ;
}
